SECRET_KEY='django-insecure-#m=lxeg7ffa-oat_qxazz=633jn-^@*2zepepc!_s0p11(4bj$'
DEBUG=True
ALLOWED_HOSTS=*

# for localhost use
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_password
