# General
SECRET_KEY='django-insecure-#m=lxeg7ffa-oat_qxazz=633jn-^@*2zepepc!_s0p11(4bj$'
DEBUG=True
ALLOWED_HOSTS=*

# DB connection use settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_password


# Email SMTP config
EMAIL_HOST='mail.domain.com'
EMAIL_HOST_USER='abc@domain.com'
EMAIL_HOST_PASSWORD='abcdef'
DEFAULT_FROM_EMAIL='abc@domain.com'
SERVER_EMAIL='abc@domain.com'
EMAIL_PORT=25
EMAIL_USE_TLS=False
