venv
*.pyc
.sqlite3
db.sqlite3
*.mmdb
*.log
env
media/*
!media/static
.DS_Store
metastore_db
venv/
*config/db_config.py
.cache

*.db
*.pid

# IDE
.pylintrc
tox.ini
.vscode/*
.idea
