DATABASES = {    'default': {        'ENGINE': 'django.db.backends.mysql',        'NAME': 'db_name',        'USER': 'db_user',        'PASSWORD': 'db_password',        'HOST': 'localhost',  # Or an IP Address that your DB is hosted on        'PORT': '3306',    }}