{% extends 'base.html' %}

{% block title %} Email template {% endblock %}

{% block content %}
    <h3>Hello, {{ user.request.username }}</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phn Num</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>{{ request.user.username }}</td>
            <td>{{ request.user.email }}</td>
            <td>{{ request.user.email }}</td>
            <td>{{ user.user.address }}</td>
        </tr>
    </table>
{% endblock %}
